<div class="container" style="padding-top: 120px;">
   
    <h3>Acerca de Nosotros</h3>
    <p>

Stradivarius capta la esencia de la creatividad juvenil.

Stradivarius es una marca de moda actual y desenfadada, una referencia de estilo para los espíritus jóvenes que apuestan por un look fresco y de tendencia inspirado en el streetstyle.

La marca, inmersa en un proceso de mejora continua a nivel de diseño y calidades, consigue ofrecer a sus clientes y clientas las prendas más buscadas de cada temporada.

Stradivarius, que tiene su origen en una empresa familiar de moda para mujer, se unió a Inditex en 1999.

Al año siguiente, empezó a operar en tres nuevos mercados internacionales y, una década después, contaba ya con 500 tiendas en el mundo.

En 2017, Stradivarius inauguró sus nuevas oficinas para los equipos de Diseño y Servicios Centrales en Cerdanyola del Vallés (Barcelona). 
Este edificio ecoeficiente, construido con materiales reciclables y de proximidad, 

consigue ahorrar un 35% en el consumo de energía eléctrica y un 50% en el consumo de agua, y aspira a obtener la certificación LEED Oro.
    </p>
</div>   

